<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997102652408-j70cuu75g6tk2uuncnt9f8j1qr2utdaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997102652408-j70cuu75g6tk2uuncnt9f8j1qr2utdaa</string>
	<key>API_KEY</key>
	<string>AIzaSyAsd6-7cHL3cdEj-4C4Fw85KTE7TX7F6wU</string>
	<key>GCM_SENDER_ID</key>
	<string>997102652408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xenous.storyline</string>
	<key>PROJECT_ID</key>
	<string>storyline-32d0d</string>
	<key>STORAGE_BUCKET</key>
	<string>storyline-32d0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997102652408:ios:dad9e744488df489b4640d</string>
	<key>DATABASE_URL</key>
	<string>https://storyline-32d0d.firebaseio.com</string>
</dict>
</plist>